nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 30px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}
.link{
    cursor: pointer;
    text-decoration: none;
    color: #323232;

}

.link:hover{
    color: #2a5ff1;
    font-weight: 500;
}

.link:focus{
    color: #2a5ff1;
    font-weight: 600;
}
