@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    position: relative;

    --mobile: 500px;
    --tablet: 768px;
    --laptop: 991px;
    
    --text-color: #333333;
    --main-color: #2a5ff1;
    --main-color-light: hsla(224, 88%, 55%, 0.25);
    --light-silver: #f2f2f2;
    --header-color: #081C3A;
    --outline-form: #CBCBCB;
    --divider-color: #f2f2f2;
    --background-color: #ffffff;
    
    --font-p-mobile: 0.75rem;
    --font-p-tablet: 1rem;
    --font-p-laptop: 1.25rem;

    --font-h1-mobile: 1rem;
    --font-h1-tablet: 1.5rem;
    --font-h1-laptop: 2rem;

}

p{
    color: var(--text-color);
}

h1 {
    color: var(--header-color);
    font-size: 1.75rem;
}