.alertContainer{
    padding: 1rem;
    background-color: rgb(70, 230, 94);
    position: relative;
    min-height: 50px;
    min-width: 300px;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.closeButton{
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;

}