.container {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding-top: 20px;
}
.container::-webkit-scrollbar {
    display: none; 
}



.messagesWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.messageClassSelf{
    display: inline-block;
    
}
.messageClassSelf p{
    color: white;
    padding: 10px 14px;
    background-color: var(--main-color);
    border-radius: 4px;
    margin-bottom: 3px;
}

.messageJoin{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
    background-color: var(--main-color-light);
    padding: 4px 8px;
    border-radius: 4px;
}

.messageClassOthers{
    color: var(--text-color);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

   
}
.messageClassOthers p{
    padding: 10px 14px;
    background-color: var(--light-silver);
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 3px;
}




.messageContainer div{
    display: flex;
    gap: 3px;
    align-items: flex-end;
}
.time{
    color: var(--text-color);
    font-size: 0.75rem;
    font-size: 0.65rem;
}
.auther{
    color: var(--text-color);
    font-size: 0.75rem;
    font-weight: 700;

}