
table {
    width: 100%;
    border-collapse: collapse;
    color: white;

}
th{
    text-align: start;
    background-color: #2a5ff1;
    padding: 8px;
    font-weight: 600;
    width: calc((100%/6));

}

td{
    padding: 8px;
    color: #323232;

}
.first{
    width: 40px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

table thead td:nth-child(1), table thead th:nth-child(1){
  min-width: 40px;
  max-width: 40px;
}

.flag{
    width: 40px;
}

.greenDot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(19, 236, 19);
    display: inline-block;
    margin-left: 10px ;
}

@media screen and (max-width: 500px) {
    .container{
        padding: 10px;   
    }
    th, td{
        padding: 4px;
        font-size: 10px;
    }
    .flag{
        width: 20px;
    }    
}