.container  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.container input {
    width: 100%;
    border: none;
    background-color: var(--light-silver);
    padding: 0 20px;
    border-radius: 4px;
    outline: none;
}
/* .container input:focus {
    outline: solid 1px var(--main-color-light);
} */


.container button {
    border-radius: 4px;
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    transition: 0.2s all ease-in-out;
}
.container button:hover{
    background-color: #1552fc;
}